html{
    /* PROPERTY: VALUE */
    text-align: left;
    color: burlywood;
    /* background-color:black; */
}

/* comodin-valor por defecto a lo que no tiene nada asignado */
* {
    background-color:aliceblue;
}

/* se pueden reutilizar en varios lugares
no tiene sentido poner muchas clases, mejor ponerlo en donde esta*/
.class {
    border-radius: 40px;
    box-shadow: 0.2px 5px black;
    width: 100px;
    height: 100px;
    /* margin: 15 px 20 px 25 px 30 px; */
    margin-top: 15px;
    margin-bottom: 20px;
    color:chartreuse;
}

/* aplica a toodo lo que esta dentro del div */
div p {
    font-size: 30px;
}

/* estilo que aplique a 2 diferentes clases/selesctores */
div h2, div h3, div h4 {
    font-weight: 700;
    color: black;
}



/* solo se usa en un solo lugar, una vez */
#id {

}


